<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

      <h2>User info</h2>

      <% if @user.errors.any? %>
        <%= @user.errors.count %>件のエラーが発生しました
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <%= form_with model: @user do |f| %>
        <%= f.label :title, 'Name' %>
        <div><%= f.text_field :name , class: "form-control book_title" %></div><br>

        <%= f.label :image, 'Image', class: 'file_field_design' %>
        <%= f.file_field :image, class: 'form-control-file user_image' %><br>
    
        <%= f.label :body, 'Introduction' %>
        <div><%= f.text_area :introduction , class: "form-control book_body" %></div><br>
    
        <%= f.submit 'Update User' , class: "btn btn-secondary" %>
      <% end %><br>

    </div>
  </div>
</div>
