<h1>User info</h1>
  <% if current_user.image.attached? %>
    <%= image_tag current_user.image, size: "150x150" %>
  <% else %>
      <%= image_tag 'no_image', size: "150x150" %>
  <% end %>

  <table class = "table">
    <tbody>
      <tr>
        <th>
          name
        </th>
        <td>
          <%= user.name %>
        </td>
      </tr>
  
      <tr>
        <th>
          introduction
        </th>
        <td>
          <%= user.introduction %>
        </td>
      </tr>
    </tbody>  
  </table>

  <%= link_to edit_user_path(user.id) , class: "btn btn-outline-secondary btn-block" do %>
    <i class = "fas fa-user-cog"></i>        
  <% end %>

  <h1>New book</h1>
  <%= form_with model: Book.new do |f| %>
    <%= f.label :title, 'Title' %>
    <div><%= f.text_field :title %></div>

    <%= f.label :body, 'Opinion' %>
    <div><%= f.text_area :body %></div>

    <%= f.submit 'Create Book' , class: "btn btn-success" %>
  <% end %>
</div>